  body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: #FFE0B2;
  }
  #assignments{
    font-family:   Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #assignments td, #assignments th{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
  }
  #assignments tr:nth-child(even)
    {background-color: #FFD180;}
  #assignments tr:hover{background-color:#FFB74D;}
  #assignments th{
  	padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #FB8C00;
    color: #FFF3E0;
  }
  
  .partners{
	  display: inline;
	  float: none;
  }
  
  section{
	  border-radius: 1em;
	  padding: 1em;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
  
  div.reference{
	border: 1px solid red;
	display: block;
	margin: 0 auto;
  }
  
  #headshot{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 250px;
  }
  .reference p, h1{
	 text-align: center;
  }
  
  div.center{
	  max-width: 50%;
	  height: auto;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }
  .center p h1{
	  text-align: center;
  }
  a.fancy{
	text-align: center;
	width: 100%;
	font-size: 150%;  
  }  
  a:link {
	  color: #FFAB40;
	  background-color: transparent;
	  text-decoration: none;
	  text-align: center;
  }
  a:visited {
	  color: pink;
	  background-color: transparent;
	  text-decoration: none;
  }
  a:hover {
	  color: #FF6D00;
	  background-color: transparent;
	  text-decoration: underline;
  }
  a:active {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
  }
  div.rcorners{
	  display: inline-block;
	  border-radius: 10px 100px 10px 100px;
	  background-color: #BDBDBD;
	  padding: 40px;
	  width: 2.4em;
	  height: 2.4em;
	  text-align: center;
  }
  
  
  