 #assignments{
    font-family: Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #assignments td, #assignments th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  #assignments tr:nth-child(even)
  {background-color: #FFE0B2;}
  #assignments tr:hover{background-color:#FFCC80;}
  #assignments th{
  	padding: 40px;
    padding-side: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #E65100;
    color: #FFF3E0;
  }
  .center{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
  }
  a:link {
	  color: green;
	  background-color: transparent;
	  text-decoration: none;
  }
  a:visited {
	  color: pink;
	  background-color: transparent;
	  text-decoration: none;
  }
  a:hover {
	  color: #FFCC80;
	  background-color: transparent;
	  text-decoration: underline;
  }
  a:active {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
  }
  
  
  
  