  body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: #FFE0B2;
  }
  h1 {
	  font-size: 3em;
  }
  
  #assignments{
    font-family:   Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #assignments td, #assignments th{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  #assignments tr:nth-child(even)
    {background-color: #FFD180;}
  #assignments tr:hover{background-color:#FFB74D;}
  #assignments th{
  	padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #FB8C00;
    color: #FFF3E0;
	font-size: 1.4em;
  }
  
  div.hobbies{
	/*border: 3px solid red;*/
	display: block;
	margin: 0 auto;
	max-width: 70%
 }
  .hobbies h2{
	text-align: left;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
 }
  ul{
	background:#ffac2b;
	padding: 0;
	list-style-type: none;
	margin: auto;
	text-align: center;
 }
  ul li{
	 font-size: 1.4em;
	 font-family: Arial, sans-serif;
	 padding: 5px;
 }
 
  
  .title li{
	font-size: 1.4em;
	font-family: Verdana, Arial, sans-serif;
	padding: 10px;
	font-weight: bold;
  }
  
  
  div.profile{
	/*border: 1px solid red;*/
	display: block;
	margin: 0 auto;
  }
   div.table{
	/*border: 2px solid blue;*/
	display: block;
	margin: 0 auto;
	max-width: 40%
  }
  
  div.biography{
	  /*border:3px solid blue;*/
	  display: run-in;
	  margin: 0 auto;
	  max-width: 45%;
  }
  .biography h2{
	  text-align: left;
	  font-size: 1.5em;
	  font-family: Verdana, Arial, sans-serif;
  }
  
  #headshot{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
	border: 10px solid white;
	padding: 1px;
	width: 30%;
  }
  .profile p, h1{
	 text-align: center;
  }
  
 
 
  
  div.center{
	  max-width: 50%;
	  height: auto;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }
  .center p h1{
	  text-align: center;
  }
   
  .table a{
	  display: block;
	  text-decoration: none;
  }
  a.fancy{
	text-align: center;
	width: 100%;
	font-size: 1.1em;  
  }  
  a:link {
	  color: #0957a1;
	  background-color: transparent;
	  text-decoration: none;
  }
  a:visited {
	  color: #bf000c;
	  background-color: transparent;
	  text-decoration: none;
  }
  a:hover {
	  color: #FF6D00;
	  background-color: transparent;
	  text-decoration: underline;
  }
  a:active {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
  }
  
  